<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="container-fluid" align="center">Welcome</div>

<div>
    <div class="container" align="center">
        <a href="{{ path('site_newuser') }}" class="btn btn-primary btn-lg active" role="button">New user</a>
        <a href="{{ path('site_newpost') }}" class="btn btn-success btn-lg active" role="button">New post</a>
    </div>

</div>

